<%- include('header') %>
<h2>Clients</h2>
<a href="/patients/form">Ajouter un patient</a>
<section class="container mt-4">
    <table border="1" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Patient</th>
                <th>Client</th>
                <th>Pathologie</th>
                <th>Type</th>
                <th>Etat</th>
                <th>Paiement</th>
                <th>Mode</th>
            </tr>
        </thead>
        <tbody>
            <% patients.forEach(patient => { %> 
                <tr>
                    <td><a href="/patients/<%= patient.id %>"><%= patient.name %></a></td>
                    <td>
                        <% if (patient.client && patient.client.sex && patient.client.sex.name === "male") { %>
                            Mr
                        <% } else if (patient.client && patient.client.sex && patient.client.sex.name === "female") { %>
                            Mme
                        <% } else { %>
                            Non spécifié
                        <% } %>
                        <% if (patient.client) { %>
                            <%= patient.client.firstname %>
                        <% } else { %>
                            Client inconnu
                        <% } %>
                    </td>
                                        <td><%= patient.pathology %></td>
                    <td><%= patient.animalType ? patient.animalType.name : 'Non spécifié' %></td>
                    <td><%= patient.status ? patient.status.name : 'Non spécifié' %></td>
                    <td><%= patient.payment && patient.payment.paymentType ? patient.payment.paymentType.name : 'Non spécifié' %></td>
                    <td><%= patient.payment && patient.payment.paymentMode ? patient.payment.paymentMode.name : 'Non spécifié' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>

<%- include('footer') %>