<%- include('header') %>

<h2>Détails du patient : <%= patient.name %></h2>

<ul>
    <li><strong>Nom du patient :</strong> <%= patient.name %></li>
    <li><strong>Pathologie :</strong> <%= patient.pathology %></li>
    <li><strong>Type d'animal :</strong> <%= patient.animalType ? patient.animalType.name : 'Non spécifié' %></li>
    <li><strong>Statut :</strong> <%= patient.status ? patient.status.name : 'Non spécifié' %></li>
    <li><strong>Date d'inscription :</strong> <%= patient.createdAt %></li>
    <li><strong>Sexe :</strong> <%= patient.sex.name %></li>




    <h3>Détails du client</h3>
    <li><strong>Client :</strong> 
        <% if (patient.client && patient.client.sex && patient.client.sex.name === "male") { %>
            Mr
        <% } else if (patient.client && patient.client.sex && patient.client.sex.name === "female") { %>
            Mme
        <% } else { %>
            Non spécifié
        <% } %>
        <%= patient.client ? patient.client.firstname + ' ' + patient.client.lastname : 'Client inconnu' %>
    </li>
    <li><strong>Email :</strong> <%= patient.client ? patient.client.email : 'Non spécifié' %></li>
    <li><strong>Téléphone :</strong> <%= patient.client ? patient.client.phone : 'Non spécifié' %></li>

    <h3>Détails du paiement</h3>
    <li><strong>Type de paiement :</strong> <%= patient.payment && patient.payment.paymentType ? patient.payment.paymentType.name : 'Non spécifié' %></li>
    <li><strong>Mode de paiement :</strong> <%= patient.payment && patient.payment.paymentMode ? patient.payment.paymentMode.name : 'Non spécifié' %></li>
</ul>

<a href="/patients/<%= patient.id %>/edit">Modifier</a>
<form action="/patients/<%= patient.id %>/delete" method="POST" style="display:inline;">
    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce patient ?');">Supprimer</button>
</form>
<a href="/patients">Retour à la liste des patients</a>

<%- include('footer') %>